.Count {
  padding: 5px;
  width: 30%;
}

.CountLabel,
.CountSelect {
  font-size: 0.725rem;
}

.CountSelect {
  border: none;
  background: transparent;
  cursor: pointer;
  outline: none;
}

@media(min-width: 600px) {
  .Count {
    flex: 1 1 33%;
    padding: 10px;
  }
  .CountLabel,
  .CountSelect {
    font-size: 0.825rem;
  }
}