.SearchForm {
  width: 100%;
  display: flex;
  margin-top: 50px;
}
.SearchInput,
.SearchSubmit {
  flex: 1 1 80%;
  font-size: 0.825rem;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
  border: 1px solid #CCC;
}

.SearchSubmit {
  display: flex;
  justify-content: center;
  align-content: center;
  flex: 1 1 20%;
  box-sizing: border-box;
  background:none;
  border-left: none;
}